* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --main-color: #161616;
}

html {
  box-sizing: border-box;
}

.App,
.main,
#root,
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App {
  display: flex;
}

.input::-webkit-inner-spin-button,
.input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.horsepower-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 100%;
  font-size: 5rem;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.main {
  display: flex;
}

.crank-container {
  transition: background-color 0.5s;
  display: grid;
  place-items: center;
  flex: auto;
}

.wheels-container {
  transition: background-color 0.5s;
  display: grid;
  place-items: center;
  flex: auto;
}

.filter:focus {
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.685);
}

.filter {
  border-radius: 10px;
  outline: none;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  width: 100%;
}

.options-button--closed {
  top: 10px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  display: grid;
  place-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: solid black 2px;
  position: absolute;
  right: -45px;
  transition: 400ms;
  transform: rotate(-3turn);
}

.options-info-container {
  display: flex;
  height: 100%;
  justify-content:space-between;
  flex-flow: column nowrap;
}

.info button {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  display: grid;
  font-weight: bold;
  font-size:1.3rem;
  place-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  color:  rgb(105, 115, 255);
  border: solid rgb(105, 115, 255) 2px;
  position: absolute;
  transition: 400ms;
  z-index: 2;
  position: absolute;
  bottom: 25px;
  right: 10px;
}

.info {
  position: relative;
  transition: 300ms;
}

.options-button {
  top: 10px;
  font-weight: bold;
  transition: 500ms;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  display: grid;
  place-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  font-size: 1.5rem;
  transform: rotate(45deg);
  color: red;
  border: solid rgb(255, 0, 0) 2px;
  position: absolute;
  right: -45px;
}

.options-container {
  padding: 0.5rem;
  left: 0;
  position: absolute;
  transition: 500ms;
  width: 20%;
  min-width: 200px;
  height: 100%;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.568);
  background-color: var(--main-color);
}

.options-container--closed {
  padding: 0.5rem;
  left: 0;
  position: absolute;
  transition: 300ms ease-in-out;
  transform: translateX(-100%);
  width: 20%;
  min-width: 200px;
  height: 100%;
  background-color: var(--main-color);
}

form {
  transition: 1s;
  background-color: white;
  border-radius: 1rem;
}

.options  {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: .3rem;
  padding: 1rem;
  background-color: white;
}

.options legend {
  top: 0;
  font-weight: bolder;
  text-align: center;
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: -.5rem;
  border-radius: .3rem;
  width: 100%;
  background-color: white;
  padding-bottom: 0;
}

.options input {
  margin: .3rem;
}

.option {
  display: flex;
  align-items: center;
}

.comparer-button {
  top: 10px;
  font-weight: bold;
  transition: 500ms;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  display: grid;
  place-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  font-size: 1.5rem;
  transform: rotate(-45deg);
  color: red;
  border: solid rgb(255, 0, 0) 2px;
  position: absolute;
  left: -45px;
}

.comparer-button--closed {
  top: 10px;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  display: grid;
  place-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: solid black 2px;
  position: absolute;
  left: -45px;
  transition: 300ms;
  transform: rotate(calc(3turn + -90deg));
}

.comparer-container {
  padding: 0.5rem;
  right: 0;
  position: absolute;
  transition: 500ms;
  width: 20%;
  min-width: 200px;
  height: 100%;
  background-color: var(--main-color);
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.568);
}

.comparer-container--closed {
  padding: 0.5rem;
  right: 0;
  position: absolute;
  transition: 300ms;
  width: 20%;
  min-width: 200px;
  height: 100%;
  background-color: var(--main-color);
  transform: translateX(100%);
}

.comparer-list::-webkit-scrollbar {
  border-color: transparent;
  width: 5px;
}

.comparer-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.432);
}

.comparer-list {
  height: 95%;
  overflow-y: overlay;
}

.comparer-car {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 650px) {
  .comparer-button--closed {
    top: 90%;
  }
  .options-button--closed {
    top: 90%;
  }
  .comparer-button {
    top: 90%;
  }
  .options-button {
    top: 90%;
  }
}
