body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  border-color: transparent;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(138, 138, 138, 0.678);
  background-blend-mode: overlay;
}

:root {
  --main-color: #161616;
}

html {
  box-sizing: border-box;
}

.App,
.main,
#root,
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App {
  display: flex;
}